@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-inline: 2rem;

  outline: 1px solid black;
  background: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
}

/* html {
    height: 100%;
} */

.container {
  /* outline: 1px solid purple; */
}

body {
  min-height: 100dvh;
}

body > div#root {
  height: 100%;
}

.dark {
  background-color: black;
  background: linear-gradient(180deg, #040918 0%, #091540 100%);
}
